@import url(http://fonts.googleapis.com/css?family=Anton|Roboto+Condensed:400,300,700|Open+Sans:400,300,600);

body, p {
	font-family: 'Open Sans'; sans-serif;
	font-weight: 300;
	line-height: 1.4;
}

ul li {
	display: inline-block;
	font-size: 14px;
	padding-left: 5px;
	margin-left: 25px;
}

ul li a {
	/*color: #daedff;*/
	
	font-weight: 600;
}

ul li a:hover {
	background-color: #05223d;
	color: #fff;
}


ul {
	margin-bottom: 0;
	padding-bottom: 10px;
}

.navigation {
	text-align: left;
	padding-top: 10px;
}

.mainbody {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #f1f1f1;
}

.leftmast {
	font-weight: bold;
	z-index: 111110;
	position:absolute;
	margin-top: 4%;
	margin-left: 3%;
	font-size: 16px;
}

.rightmast {
	font-weight: bold;	
	z-index: 1111;
	float:right;
	position:absolute;
	margin-top: 4%;
	margin-left: 25%;
	font-size: 16px;
}

.masthead {
	background-color: #fff;
	box-shadow: 2px 2px 5px #CCC;
	margin-bottom: 5px;
}

.mainlogo {
	text-align: left;
	margin-left: 15%;
}

.temporarylogo {
	margin-bottom: 20px;
	font-size: 32px;
	position: absolute;
	left: 0;
	padding-left: 20px;
}

#captions {
	text-align: center;
	/*background: #D0D0D0;*/
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 6%;
	box-shadow: 2px 2px 2px 2px #CCC;
}

.textheader {
	font-weight: bold;
	font-family: Anton;
	font-size: 28px;
}

.textblurb {
	text-align: left;
}

.footer {
	color: #000;
	width: 100%;
	padding-bottom: 2%;
	box-shadow: 2px 2px 2px 2px #CCC;
}

#imagebox {
	padding-left: 0px;
}

#rightbox {
	/*background-color:#D0D0D0;*/
	background-color: #fff;
	box-shadow: 2px 2px 2px 2px #CCC;
	height: 410px;
}

.righttext {
	padding-top: 18px;
	padding-left: 10px;
	font-size: 16px;
}

.storybutton {
	text-align: center;
}

.storybutton a {
	font-size: 18px;
}

.contactinfo, .aboutsummary, .connect {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #4c4b4b;
}

.info {
	margin-bottom: 0px;
	text-align: center;
	font-size: 14px;
	color: #4c4b4b;
}

.footsect {
	padding-bottom: 10px;
}

.carousel {
	height: 50%;
}

#headtitle h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-bottom: 18px;
	margin-top: 15px;
	font-size: 24px;
}

/*
#whycontent {
	background-color: #fff;
}*/