
.masthead {
	padding: 30px 100px;
}

ul li {
	display: inline-block;
	padding: 5px 20px;
	background-color: #E0E0E0;
}

ul {
	text-align: center;
	margin-left: 0;
}

.temporarylogo {
	margin-bottom: 20px;
	font-size: 32px;
}